@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--foreground);
  --color-foreground: var(--background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #f2f0f4;
  }
}

body {
  background: var(--foreground);
  color: var(--background);
  font-family: var(--font-geist-sans), "Tahoma", "Arial", sans-serif;
  direction: rtl;
}

* {
  box-sizing: border-box;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}