/* مخفی کردن header (بخش Servers) و footer در Swagger UI */
.swagger-ui .topbar {
  display: none !important;
}

.swagger-ui .information-container {
  display: none !important;
}

.swagger-ui .footer {
  display: none !important;
}

.swagger-ui .info .link {
  display: none !important;
}

/* بخش Servers (دریافت سرور) بالای صفحه */
.swagger-ui .servers,
.swagger-ui .scheme-container {
  display: none !important;
}
